<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Number of tiles required to match</key>
	<integer>2</integer>
	<key>Number of rows and columns</key>
	<integer>7</integer>
	<key>Number of categories</key>
	<integer>6</integer>
	<key>Number of tiles swiped required</key>
	<integer>2</integer>
	<key>Number of rows</key>
	<integer>9</integer>
	<key>Number of columns</key>
	<integer>4</integer>
	<key>Tiles required for bomb booster</key>
	<integer>3</integer>
	<key>Max number of moves</key>
	<integer>10</integer>
	<key>Score required</key>
	<integer>10000</integer>
	<key>Tiles required for fifty fifty</key>
	<integer>5</integer>
	<key>Type of level</key>
	<string>SCORE</string>
	<key>Header message</key>
	<string>Reach %@ points!</string>
	<key>Categories</key>
	<array>
		<integer>1</integer>
	</array>
	<key>Level number</key>
	<integer>4</integer>
</dict>
</plist>
